<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>VIVADATA |California ML</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">SOLAR ENERGY - Demo</h3>
      </div>

      <div class="jumbotron">
        <h1>Predicting Solar production ☀</h1>
        <p class="lead">Fill the needed data to predict the kw production!</p>
        <!-- <p><a class="btn btn-lg btn-success" href="home" role="button">Get started</a></p> -->
      </div class="form-row">
        <form action="/predict/" method="post">
        	<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="angle_of_incidence">Angle of incidence</label>
			      <input type="number" step="0.01" class="form-control" id="AngInc" name="angle_of_incidence" placeholder="Enter Value">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="zenith">Zenith</label>
			      <input type="number" step="0.01" class="form-control" id="zenith" name="Zenith" placeholder="Enter Value">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="total_cloud_cover_sfc">Total cloud cover</label>
			      <input type="number" step="0.01" class="form-control" id="totclcvsfc" name="total_cloud_cover_sfc" placeholder="Enter Value">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="azimuth">Azimuth</label>
			      <input type="number" step="0.01" class="form-control" id="azimuth" name="azimuth" placeholder="Enter Value">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="shortwave_radiation_backwards_sfc">Shortwave Radiation</label>
			      <input type="number" step="0.01" class="form-control" id="shortwvrad" name="shortwave_radiation_backwards_sfc" placeholder="Enter Value">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="relative_humidity_2_m_above_gnd">Humidity</label>
			      <input type="number" step="0.01" class="form-control" id="Humidity" name="relative_humidity_2_m_above_gnd" placeholder="Enter Value">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="mean_sea_level_pressure_MSL">Mean sea level</label>
			      <input type="number" step="0.01" class="form-control" id="sealevel" name="mean_sea_level_pressure_MSL" placeholder="Enter Value">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="wind_gust_10_m_above_gnd">Wind gust</label>
			      <input type="number" step="0.01" class="form-control" id="wind" name="wind_gust_10_m_above_gnd" placeholder="Enter Value">
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="temperature_2_m_above_gnd">Temperature</label>
			      <input type="number" step="0.01" class="form-control" id="temp" name="temperature_2_m_above_gnd" placeholder="Enter Value">
			    </div>
			</div>
		    <button type="submit" class="btn btn-primary">Predict</button>
		</form>
		<br>
      <footer class="footer">
        <p>&copy; Vivadata 2023</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
